local.admin.username=admin
local.admin.password=Asdf.1234.qpwoei
local.host=localhost
local.port=8000
local.chrome_options=--remote-allow-origins=*;--disable-gpu;--headless=new;--disable-dev-shm-usage;--no-sandbox;--window-size=1920,1080
local.closeBrowserIfError=false
